include top 

    body 
        .h-pail-center.h-card.h-bg-pinkish
            h2.h-text-bold.h-text-white 403
            p.h-text.h-text-white You are unauthorized to view this page
            a.h-button.h-text.h-bg-white.h-text-black(href="/login") Login

include bottom