include top 
body 
    .h-card.h-pail 
        .h-card-sm.h-bg-white 
            div 
                span Logout
        div
            span.h-text.h-margin-2 Welcome John Doe,
        .h-card.h-bg-pinkish 
            h1.h-text-right.h-text.h-text-bold.h-text-white 30000 USDT

        .h-card.h-bg-white 
            h5.h-text.h-text-pinkish Your Bot Orders
            
