head 
    link(rel="stylesheet", href="./css/login.css")
include top 
body.rocket-bg
    .h-pail-center
        form#loginForm.h-card.h-shadow-pinkish.h-outline-pinkish.h-text(action="/login",method="POST")
            br
            h4.h-text-pinkish.h-text.h-text-bold Rocket 125x
            div
                i.h-text.h-text-red#errorMessage #{message}
            br
            div.h-card-sm
                div
                    p.h-text-bold.h-text-white.h-font-tiny @email
                    input#email.h-input.h-margin-0.h-text.h-outline-pinkish(name="email",type="text")
                br
                div
                    p.h-text-bold.h-text-lightblue.h-font-tiny @password
                    input#password.h-input.h-margin-0.h-text.h-outline-pinkish(name="password",type="password")
                br
                button.h-button.h-text.h-bg-pinkish.h-text-white Login
            br
            br 
            br
            a.h-text.h-card-1.h-bg-white.h-text-purple(href="/onboard")
                i.h-font-tiny.h-text-bold i am new here
            br
            br

include bottom