head 
    link(rel="stylesheet", href="./css/mini.css")
include top 
    body.rocket-bg
        .h-pail-center.h-card.h-bg-pinkish
            h1.h-card.h-bg-purple.h-text-white.h-text-bold Rocket 125x
            br
            div
                .row.h-bg-white.h-card-sm.h-padding-1
                    div.h-col-3.h-bg-white.h-card-sm
                        button.h-button.h-text.h-bg-lightblue.h-shadow-lightblue.h-text-white.h-card-1.h-font-tiny-2(onclick="switchTo('1')") Set Keys
                        br
                        br
                        if data
                            if data.binanceApiSecret
                                button.h-button.h-text.h-card-1.h-text-white.h-shadow-lightblue.h-bg-lightblue.h-font-tiny-2(onclick = "switchTo('2')") Start Bot
                            else 
                                button.h-button.h-text.h-card-1.h-text-white.h-shadow-lightblue.h-bg-lightblue.h-font-tiny-2(onclick = "notify('e','Api Keys not set')") Start Bot
                            br
                            br
                            if data.botStatus == true
                                button.h-button.h-text.h-card-1.h-text-white.h-bg-red.h-shadow-red.h-font-tiny-2(onclick = "switchTo('3')") Stop Bot
                            else 
                                button.h-button.h-text.h-card-1.h-text-white.h-bg-red.h-shadow-red.h-font-tiny-2(onclick = "notify('e','Bot not running')") Stop Bot
                            br
                            br
                        else
                            button.h-button.h-text.h-card-1.h-text-white.h-shadow-lightblue.h-bg-lightblue.h-font-tiny-2(onclick = "notify('e','Api Keys not set')") Start Bot
                            br
                            br
                            button.h-button.h-text.h-card-1.h-text-white.h-bg-red.h-shadow-red.h-font-tiny-2(onclick = "notify('e','Bot not running')") Stop Bot
                        br
                        br
                        button.h-button.h-text.h-card-1.h-text-white.h-bg-yellow.h-shadow-yellow.h-font-tiny-2(onclick = "logout()") Logout
                    .h-col-8.h-card-sm
                        div.h-dash-left(style="padding-left : 5px")
                            form#binanceKeys.view.h-anim-rollin.h-hide(action="POST")
                                h5.h-text-bold.h-margin-0 Set your binance keys
                                span.h-font-tiny.h-text-right.h-text-bold.h-padding-1.h-bg-lightgreen.h-text-white(onclick="edit()") Edit
                                br
                                div.h-margin-1
                                    p.h-margin-0.h-text.h-text-pinkish.h-text-left apiKey
                                    
                                    if data 
                                        if data.binanceApiKey
                                            input.h-input.h-text.h-margin-0#apiKey(type="text",name="apiKey",placeholder="apiKey; e.g: 64381659bct225922", disabled ,value = `${data.binanceApiKey}`)
                                        else
                                            input.h-input.h-text.h-margin-0#apiKey(type="text",name="apiKey",placeholder="apiKey; e.g: 64381659bct225922" )
                                    else
                                        input.h-input.h-text.h-margin-0#apiKey(type="text",name="apiKey",placeholder="apiKey; e.g: 64381659bct225922" )
                                div.h-margin-1
                                    p.h-margin-0.h-text.h-text-pinkish.h-text-left apiSecret
                                    if data
                                        if data.binanceApiSecret
                                            input.h-input.h-text.h-margin-0#apiSecret(type="text",name="apiSecret",placeholder="apiSecret", disabled ,value = `${data.binanceApiSecret}`)
                                        else 
                                            input.h-input.h-text.h-margin-0#apiSecret(type="text",name="apiSecret",placeholder="apiSecret")
                                    else 
                                        input.h-input.h-text.h-margin-0#apiSecret(type="text",name="apiSecret",placeholder="apiSecret")
                                br
                                button.h-button.h-bg-lightgreen.h-text-white.h-text-bold Submit

                            form#startBot.view.h-anim-rollin.h-hide(action="POST")
                                h5.h-text-bold.h-margin-0 Bot Config 
                                br
                                .h-margin-1.h-text-left
                                    span.h-font-tiny-2.h-text.h-text-purple Bot status: &nbsp;
                                    if data
                                        if data.botStatus == true
                                            span.h-bg-purple.h-text-bold.h-font-tiny-2
                                                i running
                                        else 
                                            span.h-bg-pinkish.h-text-bold.h-font-tiny-2
                                                i idle
                                    else 
                                        span.h-bg-pinkish.h-text-bold.h-font-tiny-2
                                            i idle
                                .h-margin-1
                                    p.h-margin-0.h-text-bold.h-text-lightgreen.h-text-left Select Strategy
                                    select#strategy.h-input.h-outline-lightgreen(disabled,name="strategy") 
                                        option(value="1") strategy_one
                                        option(value="2",selected) strategy_two
                                .h-margin-1 
                                    p.h-margin-0.h-text-bold.h-text-lightblue.h-text-left Select symbol
                                    select#symbol.h-input.h-outline-lightblue(name="symbol",onchange="symbolInfo()") 
                                        for symbol in symbols.data
                                            option(value=`${symbol.pair}`) #{symbol.pair}
                                        
                                .h-margin-1 
                                    span.h-margin-0.h-text-bold.h-text-lightblue.h-left Quantity
                                    span.h-font-tiny.h-text-red 10% of account
                                br
                                .h-margin-1
                                    p.h-margin-0.h-text-bold.h-text-purple.h-text-left Leverage
                                    input.h-outline-purple.h-text-black.h-text-bold.h-input#leverage(onchange="leverageCheck()",name="leverage",type="number",max="75",min="10",placeholder="leverage",value = "20")
                                input#minNotional(type="hidden", name="minNotional",value = "5.0")
                                input#quantityPrecision(type="hidden", name="quantityPrecision")
                                if data
                                    if data.botStatus == false
                                        button.h-button.h-bg-lightgreen.h-shadow-lightgreen.h-text-white.h-text-bold() Start Bot
                                    else 
                                        button.h-button.h-bg-lightgreen.h-shadow-lightgreen.h-text-white.h-text-bold(disabled) Bot running
                                else 
                                    button.h-button.h-bg-lightgreen.h-shadow-lightgreen.h-text-white.h-text-bold(disabled) Bot running

                            div#stopBot.view.h-hide
                                if data
                                    if data.botStatus == true
                                        h5.h-text-bold.h-margin-0.h-text-red Are you sure you want to stop the bot?
                                        button.h-button.h-bg-red.h-text-white.h-text-bold(onclick="stopBot()") STOP
                                    else 
                                        h5.h-text-bold.h-margin-0.h-text-red Bot running already
                                        button.h-button.h-bg-red.h-text-white.h-text-bold(onclick="switchTo('2')") STOP
                                else 
                                    h5.h-text-bold.h-margin-0.h-text-red Bot running already
                                    button.h-button.h-bg-red.h-text-white.h-text-bold(onclick="switchTo('2')") STOP
script(type="text/javascript",src='/js/mini.js')
