head 
    link(rel="stylesheet", href="./css/login.css")
include top 
body.rocket-bg
    .h-pail-center
        form#loginForm.h-card.h-shadow-purple.h-outline-purple.h-text(action="/onboard",method="POST")
            br
            h4.h-text-purple.h-text-bold Rocket 125x
            br
            br
            div
                i.h-text.h-text-red#errorMessage #{message}
            br
            div.h-card-sm
                div
                    p.h-text-bold.h-font-tiny.h-text-white @email
                    input#email.h-input.h-text.h-outline-purple(name="email",type="text")
                div
                    p.h-text-bold.h-text-lightblue.h-font-tiny @password
                    input#password.h-input.h-text.h-outline-purple(name="password",type="password")
                div
                    p.h-text-bold.h-text-lightblue.h-font-tiny @referral code(optional)
                    input#code.h-input.h-text.h-outline-purple(name="code",type="password")
            br
            button.h-button.h-text.h-bg-purple.h-text-white Signup
            br
            br 
            br
            a.h-card-1.h-bg-white.h-text-bold.h-font-tiny.h-text-pinkish(href="/login")
                i i have an account
            br
            br

include bottom