include top 
body.h-bg-pinkish
    .h-pail-center
        form#loginForm.h-card.h-bg-white.h-text(action="/onboard",method="POST")
            br
            h4.h-text-pinkish Great Light
            br
            br
            div
                i.h-text.h-text-red#errorMessage #{message}
            br
            div
                span.h-text-bold @email
                input#email.h-input.h-text.h-outline-pinkish(name="email",type="text")
            div
                span.h-text-bold.h-text-lightblue @password
                input#password.h-input.h-text.h-outline-pinkish(name="password",type="password")
            br
            button.h-button.h-text.h-bg-pinkish.h-text-white Signup
            br
            br 
            br
            a.h-text.h-text-pinkish(href="/login")
                i i have an account
            br
            br

include bottom