include top 
    .h-pail-center.h-card.h-bg-white
        h1.h-text-pinkish.h-text Rocket 125x 
        br
        div
            a.h-text-bold.h-bg-blight.h-card-sm.h-text-white(href="/login")
                span Login
            a.h-text-bold.h-bg-lightblue.h-card-sm.h-text-white(href="/onboard")
                span Signup
        br
        br
        a.h-text-bold.h-bg-pinkish.h-card-sm.h-text-white(href="/mini")
            span Meet the Bot
